.section-form {
    @extend .py-5;

    > div {
        @extend .py-3;
    }

    form {
        @extend .text-left, .mt-5;

        label {
            @extend .text-left, .mb-0;

            position: relative;
            bottom: -0.25rem;
        }

        .form-control {
            @extend .pt-0, .mb-3;

            border: 0;
            border-radius: 0 !important;
            border-bottom: solid 1px $darker;
            box-shadow: none !important;
        }

        .submit-holder {
            @extend .mt-4, .mt-md-4, .pt-4, .col-12, .text-center, .row, .justify-content-md-between;

            > div {
                @include media-breakpoint-up(md) {
                    display: flex;
                    width: 100%;
                }

                div {
                    @extend .col-12, .col-md-4, .d-block, .d-md-flex, .text-center;

                    .btn {
                        @extend .my-4, .my-md-0;
                    }

                    &:first-child {
                        @extend .text-md-left;
                    }
                    &:last-child {
                        @extend .text-md-right;
                    }
                }
            }
        }
    }

}
