.section-form {
    @extend .py-5;

    > div {
        @extend .py-3;
    }

    form {
        @extend .mt-5;

        label {
            @extend .d-block, .text-left, .mb-0;

            position: relative;
            bottom: -0.25rem;
        }

        .form-control {
            @extend .pt-0, .mb-3;

            border: 0;
            border-radius: 0 !important;
            border-bottom: solid 1px $darker;
            box-shadow: none !important;
        }

        .navbar-phone {
            @extend .mt-3;
        }

        .submit-holder {
            @extend .mt-4, .mt-md-4, .pt-4, .text-center, .row;
            width: 100%;


            > div {
                @extend .col-12, .col-md-4, .d-block, .d-md-flex, .text-center;

                .btn {
                    @extend .my-4, .my-md-0, .mx-auto;
                }

                &:first-child {
                    @extend .text-md-left;
                }
                &:last-child {
                    @extend .text-md-right;
                }
            }
            
        }
    }

}
