.section-comparison {
    @extend .my-0, .py-3, .position-relative;

    h2 {
        @extend .text-center, .mb-4, .text-break;
    }

    @include media-breakpoint-up(md) {
        &:before,
        &:after {
            position: absolute;
            width: 50%;
            content: '';
            display: block;
            top: 0;
            bottom: 0;
            z-index: 0;
        }

        &:before {
            left: 0;
            background: linear-gradient(0deg, #F68929 0.02%, #FFFFFF 100%);
        }
        &:after {
            right: 0;
            background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, #46A0AD 100%);
        }
    }
    
    .container {
        @extend .position-relative;
        z-index: 1;
    }

    ul {
        @extend .row, .row-cols-1, .row-cols-md-2, .list-unstyled;
        
        li {
            @extend .p-3, .position-relative;

            p {
                @extend .mt-4, .mt-md-0, .text-center, .text-md-left;
            }
        }
        li:not(:first-child) {
            border-top: solid 3px $white;
        }
        li:first-child {
            + li {
                border-top: 0;
            }
        }

        @include media-breakpoint-down(md) {
            li {
                
                &:nth-child(odd) {
                    background: linear-gradient(0deg, #F68929 0.02%, rgba($dark-orange, 0.1) 100%);
                    

                    &:after {
                        content: 'VS';
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%) translateY(50%);
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        font-size: 14px;
                        background-color: $dark-orange;
                        color: $white;
                        text-align: center;
                        line-height: 30px;
                        z-index: 2;
                        font-size: 11px;
                        border: solid 2px #fff;
                        font-weight: bold;
                    }
                }
                &:nth-child(even) {
                    background: linear-gradient(180deg, rgba(#17a2b8, 0.25) 0%, #46A0AD 100%);
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
