.section-content-carousel {
  @extend .my-0, .py-0;
  background: linear-gradient(180deg, #9FD672 0%, #315A0F 100%);
  overflow: hidden;

  & > .container-fluid {
    @extend .px-0;
    position: relative;
  }

  & > .container {
    @extend .bg-white, .px-4, .py-4;
    position: relative;

    @include media-breakpoint-down(md) {
      max-width: 70%;
      margin:auto;

      .carousel-control-prev-holder,
      .carousel-control-next-holder {
        width: 22%;
      }
    }
  }

  h2 + h2 {
      margin-top: -1.5rem;
  }

  @include media-breakpoint-up(md) {
    .carousel {
      max-width: 90%;
      margin: auto;
    }
  }

  .carousel-control-prev-holder,
  .carousel-control-next-holder {
    @extend .d-block;

    position: absolute;
    top: 50%;
  }
  .carousel-control-prev-holder {
    left: 0;
    transform: translateX(-100%) translateY(-50%);
  }
  .carousel-control-next-holder {
    right: 0;
    transform: translateX(100%) translateY(-50%);
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: relative;
    width: 100%;
  }

  .carousel-item {
    img {
      @extend .img-fluid;

      + p {
        @extend .my-4, .py-3;
      }
    }

    .text {
      @extend .py-4, .mt-4, .mb-md-5; 
    }
  }
}
