.section-content-carousel {
  @extend .my-0, .py-0;
  background: linear-gradient(180deg, #9FD672 0%, #315A0F 100%);

  & > .container-fluid {
    @extend .px-0;
  }

  & > .container {
    @extend .bg-white, .px-4, .py-4;
  }

  @include media-breakpoint-up(md) {
    .carousel {
      max-width: 80%;
      margin: auto;
    }
  }

  .carousel-item {
    img {
      @extend .img-fluid;

      + p {
        @extend .my-4, .py-3;
      }
    }

    .text {
      @extend .py-4, .mt-4, .mb-md-5; 
    }
  }
}
