.section-hero {
  @extend .full-width;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: unset;
  }

  @each $color, $value in $theme-colors {
    .buttons-#{$color} {
      .btn {
        @extend .btn-#{$color}
      }
    }
  }

  .row {
    
    
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(md) {
      min-height: 650px;
      height: 80vh;
    }
    @include media-breakpoint-down(md) {
      height: 50vh;
    }
  }


  .hero-article,
  .hero-sidebar {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }

  .hero-article {
    h2 {
      @extend .h1;
      color: #fff;
      text-transform: none;

      &:not(:first-child) {
        @extend .text-primary;
      }
    }
    h1 {
      font-family: $font-family-sans-serif;
      font-size:110px;
      line-height: 1;
      font-weight: 800;
      margin: 0;
      text-transform: uppercase;
    }

    @include media-breakpoint-down(lg) {
      h1 {
        font-size: 46px !important;
      }
      h2 {
        font-size: 32px !important;
      }
    }

    @supports (-webkit-text-stroke: 3px #fff) {
      h1 {
        -webkit-text-stroke: 1.5px #fff;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .hero-sidebar {
    @extend .align-self-stretch;
  }

  .hero-bg {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;

    iframe,
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      border: 0;
      object-fit: cover;
    }

    @include media-breakpoint-down(md) {
      background-position: top right -150px !important;
    }
  }

  .gradient-holder {
    @extend .text-right;

    position: absolute;
    z-index:0;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(270deg, rgba(53,118,0,0.38) 0%, rgba(170,209,124,0) 100%);
    overflow: hidden;

    @include media-breakpoint-down(md) {
      left: 0;
    }

    @keyframes slideInFromLeft {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }

    img {
      position: absolute;
      top: -150px;
      right: -40px;
      width: auto;
      height: 130%;
      animation: 1s ease-out 0s 1 slideInFromLeft;
      transform-origin: right;

      @include media-breakpoint-down(md) {
        top: -40px;
      }
    }
  }

  + .phone-cta {
    @extend .bg-white, .pt-5, .text-center, .d-md-none;
  }
}
