.section-hero {
  @extend .full-width;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-repeat: no-repeat;
  background-size: cover;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: unset;
  }

  @each $color, $value in $theme-colors {
    .buttons-#{$color} {
      .btn {
        @extend .btn-#{$color}
      }
    }
  }


  .hero-article,
  .hero-sidebar {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }

  .hero-sidebar {
    @extend .align-self-stretch;
  }

  .hero-bg {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;

    iframe,
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      border: 0;
      object-fit: cover;
    }
  }
}
