// @import 'spotlight';
// @import 'hero';
// @import 'callouts';
// @import 'carousel';
// @import 'testimonials';
// @import 'alert';
// @import 'media';
// @import 'gallery';

.section {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  margin-top: $section-margins;
  margin-bottom: $section-margins;
}
