.slide-in-cta {
    @extend .text-center, .bg-primary, .pt-5, .pt-md-2;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    transform: translateY(100%);
    transition: transform 0.25s ease;

    > * {
        @extend .text-white;
    }

    &.active {
        transform: translateY(0%);
    }

    h3 {
        @extend .text-darker;
    }

    .close {
        @extend .btn, .btn-link;

        min-width: 0;
        position: absolute;
        top: -10px;
        right : 0;
        padding: 10px;

        img {
            width: 30px;
        }
    }
}