.section-team {
    @extend .py-5;

    > div {
        @extend .py-3;
    }

    .row {
        @extend .justify-content-center;
    }

    .content {
        @extend .pb-5, .mb-5;

        h2 {
            @extend .text-center;
        }
    }

    .team-member {
        @extend .col-12, .col-md-4, .mb-4;

        .diamond-wrapper {
            @extend .mb-5;
            //transform: rotate(45deg);
            overflow: hidden;
  

            .inner {
                position: relative;
                height: 265px;

                @include media-breakpoint-down(md) {
                    transform: translateX(-15%);
                }

                .diamond {
                    height: 190px;
                    width: 190px;
                    border: solid 2px #ccc;
                    position: absolute;
                    left: -30px;
                    top: 40%;
                    transform: rotate(45deg) translateX(0) translateY(-50%);
                }

                > img {
                    width: 265px;
                    height: auto;
                    position: absolute;
                    right: 0;
                    //transform: rotate(-45deg);
                }
            }

        }

        .title {
            @extend .mb-0;
            color: #F15D3D;

            + p {
                @extend .mb-0;

                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }

        .team-list__link {
            @extend .p-0, .bg-white;
            color: #F15D3D;
            border: 0;
        
        }
    }

    .modal {
        .modal-header {
            @extend .text-center, .align-items-end;
            position: relative;
            border: 0;
            color: #F15D3D;

            .modal-title {
                @extend .d-block, .w-100, .pt-5;
            }

            button {
                @extend .bg-white, .m-0;
                
                border: 0;
                outline: 0;
                font-size: 32px;
                position: absolute;
                top: 0;
                padding: 0;
                right: 10px;
                color: #F15D3D;
            }
        }

        .image {
            @extend .mb-4;
        }

        .btn {
            @extend .py-2, .px-4;

            min-width: 0;
        }

        .modal-body {
            @extend .pb-0;
        }

        .modal-footer {
            @extend .pt-0;
            border: 0;
        }
    }
}