<a class="sr-only" href="#main-content">Skip to content</a>
<header class="banner" role="banner">
  <div class="wrapper">
    {% set ariaLabel = 'navigation' %}
    {% include "partials/components/navigation/" + design.navigation + ".njk" %}
    </div>
  </div>
</header>
