<footer role="contentinfo" class="content-info text-{{ footernavigation['textAlign'] }}">

  <div class='container-fluid logo-holder'>
    <img class="logo" src="{{ site.logo }}" alt="{{ site.name }} logo">
  </div>
  <div class="container">
    {% include "partials/components/footer/" + design.footer + ".njk" %}
  </div>
  {% if site.showThemeCredit %}
  <div class="bg-black py-3">
    <div class="container text-center text-white">
        Digital Marketing by Rebel Interactive Group
    </div>
  </div>
  {% endif %}
</footer>
