{% extends 'layouts/base.njk' %}

{% block content %}
  <main class="content content-service service-{{ permalink | slug }}" id="main-content" tabindex="-1">
    <article>
      {% for item in components %}
        {% include "partials/components/sections/" + item.type + ".njk" %}
      {% endfor %}
    </article>
  </main>
{% endblock %}


