html,
body {
  min-height: 100vh;
}

body {
  @extend .d-flex, .flex-column;

  font-size: 18px;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

// HEADINGS
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6{
  font-weight: bold;
}

h1,
.h1 {
  font-size: 90px;
  line-height: 1.25;
  font-weight: 800;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
}
h3,
.h3 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
}
h4,
.h4 {
  font-family: $font-family-sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: $dark-orange;
}
h5,
.h5 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
}

p {
  line-height: 1.75em;
}

.btn {
  @extend .py-2, .py-3, .h5;

  box-sizing: border-box;
  font-family: $headings-font-family;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 250px;
  border-radius: 0;
  border-width: 2px;
}

.btn-primary {
  background-color: #ffffff;

  &:hover,
  &:focus {
    color: $black;
    background-color: lighten($primary, 25%);
  }
}

// IMAGES
img {
  max-width: 100%;
}


// MODAL
.modal-backdrop.show {
  opacity: 0.1;
}

// CONTENT
.section {
  @extend .full-width;
}
.content {
  @extend .d-flex, .flex-column, .flex-grow-1;
}

.row-content {
  @extend .flex-grow-1, .justify-content-between;
}

.logo {
  //height: $logo-height;
}

.visually-hidden,
.heading-permalink {
  @extend .sr-only;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.background-fixed {
  background-attachment: fixed;
}

.background-scroll {
  background-attachment: scroll;
}

.col-content {
  @extend .my-5;

  @include make-col-ready();

  @include media-breakpoint-up(md) {
      @include make-col($content-cols);
  }
}

.col-sidebar {
  background-color: $sidebar-bg;

  @include make-col-ready();

  @include media-breakpoint-up(md) {
      @include make-col($sidebar-cols);
  }
}

.g-recaptcha {
  @extend .mb-5;
}


