<a class="skip-link d-none" href="#main-content">Skip to content</a>
<header role="banner" class=" d-none [ site-head ] [ pad-top-700 pad-bottom-700 ">
  <div class="wrapper">
    <div class="[ site-head__inner ] [ md:box-flex space-between align-center ]">
      <a href="/" class="[ site-head__site-name ] [ leading-tight ]">
        <span class="visually-hidden">{{ site.name }} - Home</span>
        <span class="[ site-head__site-name ] [ text-600 ]" aria-hidden="true">{{ site.name }}</span>
      </a>
      {% set ariaLabel = 'navigation' %}
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
</header>

{% set ariaLabel = 'navigation' %}
{% include "partials/components/nav.njk" %}

<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
  <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">
</header>