{% if serviceListItems.length %}
<h2 class="">{{ serviceListHeading }}</h2>
<div class="row">
  {% for service in serviceListItems %} 
    <div class="service {% if fadeClass %} {{ fadeClass }} {% endif %}">
        <img src="{{ service.data.socialImage }}" class="img-fluid" alt="{{ service.data.title }}">
        
        {{ service.data.body | markdownFilter | safe }}
        
        <p class='d-none'><a href="{{ service.url }}" class="service-list__link" rel="bookmark">{{ service.data.linkText }}</a><p>
    </div>
  {% endfor %}
</div>
{% endif %}
