<div class="slide-in-cta">
    <div class="container-fluid">
        <button class='close'><img src='/_assets/images/times-circle-solid.svg'></button>
        <h3>Ask about our special new member pricing, <br> up to 40% off now through December 25, 2020.</h3>
    </div>
</div>