@import 'config';

// Pull in the bootstrap lib
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// include heme variable overrides
@import 'config'; 

// Pull in the FontAwesome
$colors: map-merge(
  (
    "light-blue": $light-blue,
    "baby-blue": $baby-blue,
  ),
  $colors
);

$theme-colors: map-merge(
  (
    "white":     $white,
    "light-blue":    $light-blue,
    "baby-blue": $baby-blue
  ),
  $theme-colors
);

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

.btn {
  color: $primary;
}
.btn-primary, .btn-danger, .btn-secondary, .btn-baby-blue {
  color: $white;
}


/**
 * GLOBAL STYLES
 */
html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  &:focus {
    outline: none;
  }
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  border: none;
}

// For when metric attributes are added to img elements
img {
  height: auto;
}

:focus {
  //outline: 1px solid var(--color-theme-primary-glare);
  outline-offset: 0.25rem;
}

/**
 * PROJECT IMPORTS
 */

 /**
// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';

// Components
@import 'components/button';
@import 'components/form';
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';
*/