@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./Spartan-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./Spartan-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./Spartan-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./Spartan-Bold.ttf') format('ttf');
}
@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./Teko-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./Teko-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./Teko-Bold.ttf') format('ttf');
}