<section class="section section-form text-{{ item.textAlign }}">
    {% if item.bgImage %}
        <img class='bg-image' src="{{ item.bgImage }}">
    {% endif %}
  <div class="{{ item.container }}">
      <article class='{{ item.fadeClass }}{% if item.fadeClass %}  fade--delay--{{ loop.index }} {% endif %}'>
        <h2>{{ item.formHeader }}</h2>
        {% include "partials/components/contact-form.njk" %}
      </article>
  </div>
</section>
