<section class="section section-form text-{{ item.textAlign }}" id="contact-form">
    {% if item.bgImage %}
        <img class='bg-image' src="{{ item.bgImage }}">
    {% endif %}
  <div class="{{ item.container }}">
      <article class='{% if item.fadeClass %}{{ item.fadeClass }}{% endif %}'>
        <h2>{{ item.formHeader }}</h2>
        {% include "partials/components/contact-form.njk" %}
      </article>
  </div>
</section>
