{% set carouselIndex = loop.index %}

<section class="section section-content-carousel text-{{ item.textAlign }}">
  <div class="{{ item.container }}">
    {{ item.body | markdownFilter | safe }}

    <div id="carousel{{ carouselIndex }}" class="carousel slide" data-ride="carousel">
      {% if item.showIndicators %}
      <ol class="carousel-indicators">
        {% for slide in item.slides %}
        <li data-target="#carousel{{ carouselIndex }}" data-slide-to="{{ loop.index0 }}"
          class="{% if loop.first == true %} active {% endif %}"></li>
        {% endfor %}
      </ol>
      {% endif %}
      <div class="carousel-inner">
        {% for image in item.slides %}
        <div class="carousel-item {% if loop.first == true %} active {% endif %}">
          {# <div class='text'>
            {{ image.text | markdownFilter | safe }}
          </div> #}

          <div class='row justify-content-center'>

            <div class='col-12 col-md-4'>
              <img src="{{ image.beforeImage }}" class="d-block w-100" alt="{{ site.name }} {{ beforeImage.alt }}">
              {{ image.beforeImageAlt | markdownFilter | safe }}
            </div>
            <div class='col-12 col-md-4'>
              <img src="{{ image.afterImage }}" class="d-block w-100" alt="{{ site.name }} {{ afterImage.alt }}">
              {{ image.afterImageAlt | markdownFilter | safe }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% if item.showNavigation %}
    <span class='carousel-control-prev-holder'>
      <a class="carousel-control-prev" href="#carousel{{ carouselIndex }}" role="button" data-slide="prev">
        <img src='/_assets/images/Arrow_Left.svg' alt="Previous">
        
        <span class="sr-only">Previous</span>
      </a>
    </span>
    <span class='carousel-control-next-holder'>
      <a class="carousel-control-next" href="#carousel{{ carouselIndex }}" role="button" data-slide="next">
        <img src='/_assets/images/Arrow_Right.svg' alt="Previous">
        
        <span class="sr-only">Next</span>
      </a>
    </span>
    {% endif %}

  </div>
</section>