<section class="section section-content-image" id="section_{{ loop.index }}" style="{% if item.background %}background-image: url({{ item.background }}); background-position:{{ item.backgroundPosition }};{% endif %}">
    {# {% if item.bgImage %}
    <img class='bg-image' src="{{ item.bgImage }}">
    {% endif %} #}
    <div class="{{ item.container }} image-{{ item.imagePosition }}">
        <div class='row align-items-{{ item.verticalAlign }}'>
            <div class='image'>
                {% for image in item.images %}
                    <img class='img-fluid' src="{{ image.url }}">
                {% endfor %}
            </div>
            <div class='content'>
                {{ item.body | markdownFilter | safe }}
            </div>
        </div>
    </div>
</section>