<section class="section section-large-cta text-{{ item.textAlign }}" id="section_{{ loop.index }}">
    {% if item.bgImage %}
        <img class='bg-image' src="{{ item.bgImage }}">
    {% endif %}
  <div class="{{ item.container }}">
      <article>

        {{ item.body | markdownFilter | safe }}

        {% if item.link %}
          {% include "partials/components/call-to-action.njk" %}
        {% endif %}
      </article>
  </div>
</section>
