{% if teamListHeading == null %}
  {% set teamListHeading = item.teamListHeading %}
{% endif %}

{% set fadeClass = item.fadeClass %}

{% if collection == null %}
  {% set teamListItems = collections.teams %}
{% else %}
    {% set teamListItems = collections.teams %}
{% endif %}

<section class="section section-team" style="background-image: url({{ item.background }}); background-position:{{ item.backgroundPosition }};">
  <div class="{{ item.container }} {{ item.fadeClass }} content">
      <article class="text-{{ item.textAlign }}">
        {{ item.body | markdownFilter | safe }}
      </article>
  </div>

  <div class="{{ item.container }}">
      <article>
        {% include "partials/components/team-list.njk" %}
      </article>
  </div>
</section>
