.content-info {
  background-color: $footer-bg;
  color: $footer-color;
  margin-top: 7rem;

  .logo-holder {
    @extend .bg-white;
    position: relative;
    z-index: 2;
    

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    + .container {
      position: relative;
      z-index: 1;
      padding-top: 133px;
    }
  }

  .nav-link,
  .footer-phone a {
    color: $footer-color;
  }

  .footer-phone {
    @extend .mb-0;
  }

  .footer-nav {
    .nav-link {
      @extend .py-0, .mt-2, .justify-content-center; 

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .nav-socialmedia{
    @extend .justify-content-center;

    .socialmedia-icon {
      @extend .mx-1;

      height: 1rem;
      width: auto;
      filter:  brightness(0) invert(1);
      transform: scale(1.85);
    } 
  }

  .bg-black {
    background-color: #000000 !important;
  }

  .socialmedia-icon + .item-wrap {
    @extend .sr-only;
  }

  .footer-inner {
    @extend .pt-3, .pb-5, .mb-1;
    align-items: flex-end;

    > div {
      @extend .col-12, .col-md-4;

      p {
        @extend .mb-0;
      }

      &:first-child {
        @extend .mb-4;
        text-align: left;

        @include media-breakpoint-down(sm) {
          text-align: center;
        }
      }
    }
  }
}
