.service-about-emsculpt {
    
    #section_3 {
        @extend .position-relative;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;

        &:before {
            @extend .h2, .mb-3, .d-block, .text-center;
            content: "Q&A";

        }

        .image {
            @extend .position-relative;

            img {
                margin-top: -3rem;

                @include media-breakpoint-up(md) {
                    margin-top: -5rem;
                }

                + img {
                    @extend .w-75;
                    position: relative;
                    margin-top: -55%;
                    
                    @include media-breakpoint-up(md) {
                        position: absolute;
                        margin-top: 0;
                        right: 0;
                        bottom: 0;
                        transform: translateY(30%) translateX(55%);
                    }
                }
            }
        }
    }
    #section_4 {
        @extend .mt-md-0, .pt-md-0;
        overflow-x: hidden;

        > .container {
            @extend .pt-5;
        }

        .image {
            img {
                transform: scale(1.5) translateY(-2rem);
            }
        }
    }
    #section_5 {
        .content {
            @extend .py-5;
        }
    }
    #section_6 {
        background-size: contain;
        background-repeat: no-repeat;
    }
    .section-large-cta {
        @extend .my-5, .py-5;

        h4 {
            @extend .text-darker;
        }
    }
    #section_8 {
        @extend .pb-5, .pt-0, .mb-4;

        > div {
            @extend .position-relative;
            top: 0;
            transform: translateX(0);
        }
    }
    #section_9 {
        @extend .pb-0, .mb-0;
    }
    #section_10 {
        @extend .pb-5, .pt-0, .mb-4;

        > div {
            @extend .position-relative;
            top: 0;
            transform: translateX(0);
        }

        h3 {
            @extend .mb-4;
        }
        .btn {
            @extend .mt-4;
        }
    }
}

